transformers>=4.28.1
datasets
https://github.com/huggingface/peft/archive/refs/heads/main.zip
lightning==2.0.1
accelerate
gputil
wandb
lion-pytorch
librosa
soundfile
unidecode
speechbrain
sentencepiece
bitsandbytes==0.37.0